<script src="js/main.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="https://use.fontawesome.com/347beffed4.js"></script>
</body>
</html>