@font-face {
  font-family:"slab-bold";
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"slab-light";
  src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"slab-regular";
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"slab-thin";
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}