@media all {
  body {
    position: relative;
    #preloader {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #fff;
      z-index: 9997;
      .fa-cog {
        display: block;
        position: absolute;
        z-index: 9999;
        left: 50%;
        margin-left: -65px;
        top: 50%;
        margin-top: -65px;
        color: #1a1a1a;
      }
    }
    .main {
      background: #1a1a1a;

    }
    #black-screen {
      position: absolute;
      z-index: 9000;
      background: black;
      opacity: 0.7;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: none;
    }
    #callback-form {
      width: 424px;
      height: 300px;
      background: #fff;
      z-index: 9995;
      position: absolute;
      top:50px;
      left: 50%;
      margin-left: -212px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        position: absolute;
        font-size: 40px;
        right: -33px;
        top: -36px;
        color: #fff;
        cursor: pointer;
      }
      p {
        font: normal 24px "slab-bold";
        color: #282828;
        margin-top: 0;
      }
      input {
        margin-bottom: 10px;
        width: 360px;
        padding-left: 20px;
        padding-right: 10px;
        border: 1px solid #282828;
        height: 40px;
        box-sizing: border-box;
        font: normal 14px "slab-regular";
        color: #282828;
        outline: none;
        &:focus {
          outline: none;
        }
        &:-moz-placeholder {
          color: #282828;
        }
        &::-webkit-input-placeholder {
          color: #282828;
        }
      }
      #done {
        background: #dcc998;
        font: normal 14px "slab-bold";
        border: 1px solid #282828;
        height: 40px;
        box-sizing: border-box;
        width: 360px;
        text-align: center;
        cursor: pointer;
        outline: none;
      }
    }
    .call-done {
      width: 424px;
      height: 300px;
      background: #fff;
      z-index: 9995;
      position: absolute;
      top:50px;
      left: 50%;
      margin-left: -212px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .done-img {
        background: url("../img/png/done.png") center no-repeat;
        width: 45px;
        height: 45px;
        margin: 0 auto;
      }
      i {
        position: absolute;
        font-size: 40px;
        right: -33px;
        top: -36px;
        color: #fff;
        cursor: pointer;
      }
      p {
        font: normal 24px "slab-bold";
        color: #282828;
        margin-top: 10px;
        text-align: center;
      }
    }
    #fullpage {
      &:before {
        display: block;
        position: absolute;
        content: '';
      }
      &:after {
        display: block;
        position: absolute;
        content: '';
      }
    }
    .section {
      width: 100%;
      margin: 0 auto;
      position: relative;
      height: 100%;
      button {
        cursor: pointer;
        outline: none;
      }
      .logo {
        background: url("../img/png/logo.png") no-repeat;
        width: 228px;
        height: 158px;
        margin: 0 auto;
      }
      .section-title {
        font: normal 30px "slab-bold";
        color: #fff;
        z-index: 700;
        margin-top: 40px;
      }
      .content-slide {
        height: inherit;
        &__one-slide {
          width: 100%;
          height: 100vh;
          min-height: 620px;
          .logo {
          }
          h2 {
            color: #fff;
            text-align: center;
            font: normal 48px "slab-bold";
            max-width: 740px;
            width: 100%;
            margin: 0 auto;
          }
        }
        .first-slide {
          background: url("../img/jpg/section1.jpg") center no-repeat;
          background-size: cover;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h2 {
            margin-top: 23px;
          }
        }
        .second-slide {
          background: url("../img/jpg/section1-slide2.jpg") center no-repeat;
          background-size: cover;
          h2 {
            margin-top: 213px;
            font-size: 60px;
          }
        }
        .third-slide {
          background: url("../img/jpg/section1-slide3.jpg") center no-repeat;
          background-size: cover;
          h2 {
            margin-top: 214px;
            font-size: 60px;
          }
          span {
            text-align: center;
            font: normal 48px "slab-light";
            color: #fff;
            margin: 0 auto;
            display: block;
          }
        }
        button {
          font-size: 0;
          border: 1px solid #93918a;
          width: 112px;
          height: 40px;
          box-sizing: border-box;
          position: absolute;
          z-index: 8888;
        }
        .slick-next {
          background: url("../img/png/right-arrow.png") center no-repeat;
          right: 50%;
          margin-right: -112px;
          bottom: 50px;
        }
        .slick-prev {
          background: url("../img/png/left-arrow.png") center no-repeat;
          left: 50%;
          margin-left: -111px;
          bottom: 90px;
        }
      }
      .container {
        max-width: 1140px;
        padding: 17px 15px 30px 15px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 200;
        .contact-us {
          display: flex;
          justify-content: space-between;
          z-index: 400;
          .phone {
            color: #fff;
            font: normal 18px "slab-regular";
          }
          .callback {
            border-bottom: 3px solid #dcc998;
            a {
              text-decoration: none;
              color: #fff;
              font: normal 18px "slab-bold";
            }
          }
        }
        .navigation {
          bottom: 30px;
          width: 100%;
          z-index: 1;
          .nav-block {
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .nav-section {
              display: none;
            }
            .nav-scrolling {
              z-index: 1;
              background: url("../img/png/mouse.png") no-repeat;
              width: 21px;
              height: 31px;
            }
          }
        }
      }
      .content {
        min-height: 620px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .content-about {
        display: flex;
        justify-content: center;
        align-items: center;
        .about-video {
          height: 515px;
          width: 685px;
          border: 5px solid #413d33;
          box-sizing: border-box;
          position: relative;
          display: flex;
          align-items: center;
          z-index: 8888;
          iframe {
            position: absolute;
            right: 10px;
            height: 480px;
            width: 680px;
          }
        }
        .about-text {
          color: #fff;
          width: 360px;
          margin-left: 10px;
          h5 {
            font: normal 30px "slab-bold";
            margin: 0;
            line-height: 37px;
          }
          span {
            font: normal 14px "slab-regular";
            margin-top: 17px;
            display: block;
            line-height: 24px;
          }
        }
      }
      .content-megatext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .article {
          width: 880px;
          color: #fff;
          font: normal 30px "slab-bold";
          text-align: center;
          line-height: 48px;
        }
        .logo-container {
          display: flex;
          justify-content: center;
          margin-top: 35px;
          .logo {
            margin-top: 0;
            margin-right: 26px;
          }
          &__text {
            font: normal 48px "slab-light";
            color: #fff;
            width: 230px;
            margin-top: 23px;
          }
        }
      }
      .content-works {
        display: flex;
        flex-direction: column;

        align-items: center;
        &__title {
        }
        &__slide {
          border: 5px solid #413d33;
          box-sizing: border-box;
          width: 980px;
          height: 380px;
          margin-top: 23px;
          overflow: visible;
          .work-slider {
            position: relative;
            width: 940px;
            margin: 15px auto 0;
            .one-slide {
              width: 292px;
              height: 381px;
              img {
                width: 292px;
                height: 381px;
                margin: 0 auto;
              }
            }
            button {
              font-size: 0;
              border: 1px solid #93918a;
              width: 112px;
              height: 40px;
              box-sizing: border-box;
              position: absolute;
              z-index: 1000;
            }
            .slick-next {
              background: url("../img/png/right-arrow.png") center no-repeat;
              right: 50%;
              margin-right: -110px;
              bottom: -100px;
            }
            .slick-prev {
              background: url("../img/png/left-arrow.png") center no-repeat;
              left: 50%;
              bottom: -60px;
              margin-left: -112px;
            }
          }
        }
      }
      .content-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__title {
        }
        &__list {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          margin-top: 76px;
          .hairstyle-section {
            margin: 0 15px;
            .hairstyle-type {
              width: 490px;
              font: normal 24px "slab-bold";
              border-bottom: 1px solid rgba(255,255,255, 0.7);
              padding: 12px 0;
              display: flex;
              justify-content: space-between;
              .hairstyle-name {
                color: #fff;
              }
              .hairstyle-price {
                color: #dcc998;
              }
            }
          }
        }
      }
      .content-masters {
        display: flex;
        flex-direction: column;
        &__title {

        }
        &__slide {
          border: 5px solid #413d33;
          box-sizing: border-box;
          width: 980px;
          height: 250px;
          margin-top: 22px;
          .masters-slider {
            position: relative;
            width: 960px;
            margin: 15px auto 0;
            .one-master {
              color: #fff;
              width: 292px;
              img {
                width: 292px;
                height: 245px;
                margin: 0 auto;
              }
              .master-name {
                font: normal 24px "slab-bold";
                width: 292px;
                margin: 10px auto 0;
              }
              .master-info {
                font: normal 12px "slab-regular";
                line-height: 20px;
                width: 292px;
                margin: 9px auto 0;
              }
            }
            button {
              font-size: 0;
              border: 1px solid #93918a;
              width: 112px;
              height: 40px;
              box-sizing: border-box;
              position: absolute;
              z-index: 1000;
            }
            .slick-next {
              background: url("../img/png/right-arrow.png") center no-repeat;
              right: 50%;
              margin-right: -112px;
              bottom: -95px;
            }
            .slick-prev {
              background: url("../img/png/left-arrow.png") center no-repeat;
              left: 50%;
              margin-left: -111px;
              bottom: -57px;
            }
          }
        }
      }
      .yandex-map {
        .content-map {
          position: relative;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &__title {
            margin-bottom: 20px;
          }
          &__address {
            color: #fff;
            width: 325px;
            height: 220px;
            background: #1a1a1a;
            position: relative;
            z-index: 8888;
            right: 200px;
            span {
              font: normal 14px "slab-light";
            }
            p {
              font: normal 14px "slab-regular";
              margin: 0;
              padding: 0;
            }
            div {
              margin-left: 33px;
              width: 230px;
            }
            .muzhik-address {
              margin-top: 26px;
            }
            .muzhik-phone {
              margin-top: 15px;
              p {
                margin-left: 4px;
              }
            }
            .muzhik-email {
              margin-top: 21px;
            }
          }
        }
      }
      .social {
        background: #1a1a1a;
        display: flex;
        justify-content: space-between;
        height: 95px;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .small-logo {
          background: url("../img/png/logo-small.png") no-repeat;
          width: 83px;
          height: 57px;
          margin-left: 150px;
        }
        .social-group {
          z-index: 500;
          margin-right: 80px;
          a {
            width: 20px;
            height: 20px;
            margin: 0 2px;
          }
        }
      }
    }
    #about {
      background: #1a1a1a;
    }
    #megatext {
      background: url("../img/jpg/section3.jpg") no-repeat;
      background-size: cover;
    }
    #works {
      background: #1a1a1a;
    }
    #price {
      background: url("../img/jpg/section5.jpg") no-repeat;
      background-size: cover;
    }
    #masters {
      background: #1a1a1a;
    }
    #footer {
      .yandex-map {
        background: url("../img/jpg/map.jpg") no-repeat;
        width: 100%;
        background-size: cover;
        height: 100vh;
        min-height: 580px;
      }
    }
    #fp-nav  {
      left: 50% !important;
      z-index: 8888;
      bottom: 30px;
      margin: 0 0 0 -610px;
      top: auto;
      position: fixed;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          box-sizing: border-box;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 1px solid #7a6d5b !important;
          background: none !important;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          &:hover {
            box-shadow: 0 0 10px rgba(255, 255, 255, 255.5);
            background: none;
          }
          a {
            width: 8px;
            height: 8px;
            background: none !important;
            border-radius: 50%;
            span {
              background: none !important;
            }
          }
        }
        .active {
          border: 1px solid #fff !important;
          background: #fff !important;
          a {
            border-radius: 50% !important;
            box-sizing: border-box;
            span {
              background: #fff !important;
              border-radius: 50% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  body {
    #fp-nav {
      left: 30px !important;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    .section {
      .content-about {
        .about-video {
          height: 415px;
          width: 585px;
          iframe {
            height: 380px;
            width: 580px;
          }
        }
        .about-text {

          h5 {
            font-size: 25px;
          }
          span {
            font-size: 12px;
          }
        }
      }
      .content-megatext {
        .article {
          font-size: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  body {
    .section {
      .content-works {
        &__slide {
          max-width: 920px;
          width: 90%;
          height: 380px;
          .work-slider {
            max-width: 920px;
            width: 100%;
            .one-slide {
              width: 292px;
              height: 381px;
              img {
                width: 292px;
                height: 381px;
                margin: 0 auto;
              }
            }
            button {
              font-size: 0;
              border: 1px solid #93918a;
              width: 112px;
              height: 40px;
              box-sizing: border-box;
              position: absolute;
              z-index: 1000;
            }
            .slick-next {
              background: url("../img/png/right-arrow.png") center no-repeat;
              right: 50%;
              margin-right: -110px;
              bottom: -130px;
            }
            .slick-prev {
              background: url("../img/png/left-arrow.png") center no-repeat;
              left: 50%;
              bottom: -91px;
              margin-left: -112px;
            }
          }
        }
      }
      .content-price {
        &__list {

          .hairstyle-section {

            .hairstyle-type {
              max-width: 490px;
              width: 100%;
              font-size: 23px;
            }
          }
        }
      }
      .content-masters {
        &__slide {
          max-width: 980px;
          width: 90%;
          .masters-slider {
            max-width: 960px;
            width: 100%;
            margin: 15px auto 0;
            .one-master {
              .master-name {
              }
              .master-info {
              }
            }
          }
        }
      }
      .yandex-map {
        background-size: contain;
        .content-map {
          justify-content: flex-start;
          &__address {
            left: 35px;
            top: 140px;
            position: absolute;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    .section {
      .content-about {
        padding-top: 15px;
        .about-video {
          height: 350px;
          width: 450px;
          margin-left: 100px;
          iframe {
            height: 320px;
            width: 450px;
          }
        }
        .about-text {
          margin-top: 100px;
          h5 {
          }
          span {
            width: 320px;
          }
        }
      }
      .content-megatext {
        .article {
          max-width: 900px;
          width: 90%;
          font-size: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  body {
    .section {
      .content-about {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .about-video {
          margin-top: 50px;
          margin-left: 0;
          iframe {
            height: 320px;
            width: 450px;
          }
        }
        .about-text {
          display: flex;
          max-width: 800px;
          width: 90%;
          justify-content: space-around;
          align-items: center;
         margin: 0;
          h5 {
          }
          span {
          }
        }
      }
    }
    #fp-nav {
      left: 15px !important;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 685px) {
  body {
    #callback-form {
      width: 300px;
      height: 260px;
      left: 50%;
      margin-left: -150px;
      i {
        font-size: 25px;
        right: 0;
        top: -30px;
      }
      p {
        text-align: center;
        font-size: 22px;
      }
      input {
        margin-bottom: 10px;
        width: 280px;
        padding-left: 20px;
        padding-right: 10px;
        border: 1px solid #282828;
        height: 40px;
        box-sizing: border-box;
        font: normal 14px "slab-regular";
        color: #282828;
        outline: none;
        &:focus {
          outline: none;
        }
        &:-moz-placeholder {
          color: #282828;
        }
        &::-webkit-input-placeholder {
          color: #282828;
        }
      }
      #done {
        height: 40px;
        width: 280px;
      }
    }
    .call-done {
      width: 300px;
      height: 260px;
      left: 50%;
      margin-left: -150px;
      i {
        font-size: 25px;
        right: 0;
        top: -30px;
      }
      .done-img {
        background: url("../img/png/done.png") center no-repeat;
        width: 45px;
        height: 45px;
        margin: 0 auto;
      }
      p {
        font-size: 20px;
      }
    }
    .section {
      .content  {
        min-height: 650px;
      };
      .content-slide {
        &__one-slide {
          min-height: 650px;
        }
      }
      .content-about {
        .about-video {
          iframe {
          }
        }
        .about-text {
          display: flex;
          flex-direction: column;
          h5 {
            text-align: center;
            br {
              display: none;
            }
          }
          span {
            max-width: 550px;
            width: 90%;
            text-align: center;
          }
        }
      }
      .content-price {
        &__list {
          flex-direction: column;
          margin: 0;
          .hairstyle-section {
            .hairstyle-type {
              font-size: 20px;
              width: 320px;
            }
          }
        }
      }
      .content-megatext {
        .logo-container {
          .logo {
            width: 178px;
            background-size: contain;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 510px) {
  body {
    .section {
      .content-slide {
        &__one-slide {
          .logo {
          }
          h2 {
            font-size: 35px;
            letter-spacing: 1px;
          }
        }
      }
      .content-about {
        .about-video {
          width: 300px;
          height: 250px;
          iframe {
            width: 300px;
            height: 222px;
          }
        }
        .about-text {
          h5 {
            br {
            }
          }
          span {
          }
        }
      }
      .content-megatext {
        .article {
          line-height: 40px;
          font-size: 18px;
        }
        .logo-container {
          .logo {
            display: none;
          }
          &__text {
            max-width: 300px;
            width: 80%;
            font-size: 40px;
          }
        }
      }
    }
    #footer {
      .social {
        display: flex;
        justify-content: space-around;
        div {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    .section {
      .content-masters {
        &__slide {
          .masters-slider {
            .one-master {
              .master-name {
              }
              .master-info {
                width: 270px;
              }
            }
          }
        }
      }
      .yandex-map {
        .content-map {
          &__address {
            left: 50%;
            margin-left: -150px;
            top: 190px;
            width: 300px;
          }
        }
      }
      .content-price {
        &__list {

          .hairstyle-section {
            margin: 0;
            .hairstyle-type {
              font-size: 14px;
              width: 300px;
            }
          }
        }
      }
    }
  }
}