//= template/head.html
<div id="preloader">
    <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
</div>

<div class="main">
    <div id="black-screen"></div>
    <div id="callback-form">
        <i class="fa fa-times" aria-hidden="true"></i>
        <p>Оставьте заявку<br> и мы с вами свяжемся!</p>
        <input type="text" placeholder="Имя">
        <input type="number" placeholder="Телефон">
        <button id="done">Записаться</button>
    </div>
    <div class="call-done">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="done-img"></div>
        <p>
            Ваше обращение принято,<br>
            мы перезвоним через <br>
            10 минут
        </p>
    </div>
    <div class="wrapper" id="fullpage">
        <div class="section" id="header">
            <div class="content content-slide">
                <div class="content-slide__one-slide first-slide">
                    <div class="logo">

                    </div>
                    <h2>
                        Барбершоп для тех кто ценит время и мужской стиль
                    </h2>
                </div>
                <div class="content-slide__one-slide second-slide">
                    <h2>
                        Man's Only
                    </h2>
                </div>
                <div class="content-slide__one-slide third-slide">
                    <h2>
                        Free
                    </h2>
                    <span>
                Born to be a Man
            </span>
                </div>
            </div>
            <div class="container">
                <div class="contact-us">
                    <div class="phone">
                        +7 (495) 345-32-98
                    </div>
                    <div class="callback">
                        <a href="#">Записаться</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav-block">
                        <div class="nav-scrolling">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="about">
            <div class="content content-about">
                <div class="about-video">
                    <iframe src="https://www.youtube.com/embed/f5aQhxm3Sfk" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="about-text">
                    <h5>
                        Показываем<br>
                        и рассказываем<br>
                        о нашем заведении
                    </h5>
                    <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
            </span>
                </div>
            </div>
            <div class="container">
                <div class="contact-us">
                    <div class="phone">
                        +7 (495) 345-32-98
                    </div>
                    <div class="callback">
                        <a href="#">Записаться</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav-block">
                        <div class="nav-scrolling">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="megatext">
            <div class="content content-megatext">
                <div class="article">
                    Когда ты не прячешь глаза, ибо тебе нечего стыдиться.
                    Когда каждое твое движение дышит уверенностью и
                    приводит к цели. Когда ты силен и надежен. Когда ты
                    сдержан и холоден как Jack Daniel’s. Тебе нужна твоя
                    территория. Территория мужского стиля и покоя.
                </div>
                <div class="logo-container">
                    <div class="logo"></div>
                    <div class="logo-container__text">
                        Born to be a Man
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="contact-us">
                    <div class="phone">
                        +7 (495) 345-32-98
                    </div>
                    <div class="callback">
                        <a href="#">Записаться</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav-block">
                        <div class="nav-scrolling">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="works">
            <div class="content content-works">
                <div class="content-works__title section-title">
                    Наши работы
                </div>
                <div class="content-works__slide">
                    <div class="work-slider">
                        <div class="one-slide">
                            <img src="img/jpg/our-works-1.jpg" alt="">
                        </div>
                        <div class="one-slide">
                            <img src="img/jpg/our-works-2.jpg" alt="">
                        </div>
                        <div class="one-slide">
                            <img src="img/jpg/our-works-3.jpg" alt="">
                        </div>
                        <div class="one-slide">
                            <img src="img/jpg/our-works-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="contact-us">
                    <div class="phone">
                        +7 (495) 345-32-98
                    </div>
                    <div class="callback">
                        <a href="#">Записаться</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav-block">
                        <div class="nav-scrolling">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="price">
            <div class="content content-price">
                <div class="content-price__title section-title">
                    Прайс-лист
                </div>
                <div class="content-price__list">
                    <div class="hairstyle-section">
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Мужская стрижка
                </span>
                            <span class="hairstyle-price">
                    1500р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Стрижка машинкой
                </span>
                            <span class="hairstyle-price">
                    800р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                   Стрижка бороды
                </span>
                            <span class="hairstyle-price">
                    800р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Моделирование бороды
                </span>
                            <span class="hairstyle-price">
                    1200р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Камуфляж седины
                </span>
                            <span class="hairstyle-price">
                    1000р
                </span>
                        </div>
                    </div>
                    <div class="hairstyle-section">
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Укладка волос
                </span>
                            <span class="hairstyle-price">
                    500р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Бритье опасным лезвием
                </span>
                            <span class="hairstyle-price">
                    1500р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                    Королевское бритье
                </span>
                            <span class="hairstyle-price">
                    2500р
                </span>
                        </div>
                        <div class="hairstyle-type">
                <span class="hairstyle-name">
                   Детская стрижка до 12 лет
                </span>
                            <span class="hairstyle-price">
                    1200р
                </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="contact-us">
                    <div class="phone">
                        +7 (495) 345-32-98
                    </div>
                    <div class="callback">
                        <a href="#">Записаться</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav-block">
                        <div class="nav-scrolling">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="masters">
            <div class="content content-masters">
                <div class="content-masters__title section-title">
                    Наши мастера
                </div>
                <div class="content-masters__slide">
                    <div class="masters-slider">
                        <div class="one-master">
                            <img src="img/jpg/master-1.jpg" alt="">
                            <p class="master-name">Александр Зубков</p>
                            <p class="master-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="one-master">
                            <img src="img/jpg/master-2.jpg" alt="">
                            <p class="master-name">Сергей Антропов</p>
                            <p class="master-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="one-master">
                            <img src="img/jpg/master-3.jpg" alt="">
                            <p class="master-name">Михаил Портнов</p>
                            <p class="master-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="one-master">
                            <img src="img/jpg/master-2.jpg" alt="">
                            <p class="master-name">Александр Зубков</p>
                            <p class="master-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="contact-us">
                    <div class="phone">
                        +7 (495) 345-32-98
                    </div>
                    <div class="callback">
                        <a href="#">Записаться</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav-block">
                        <div class="nav-scrolling">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="footer">
            <div class="yandex-map">
                <div class="content content-map">
                    <div class="content-map__title section-title">
                        Контакты
                    </div>
                    <div class="content-map__address">
                        <div class="muzhik-address">
                            <span>Адрес</span>
                            <p>
                                Москва, Проспект Андропова,
                                22, БЦ «Нагатинский»
                            </p>
                        </div>
                        <div class="muzhik-phone">
                            <span>Телефон</span>
                            <p>
                                +7 (926) 152-36-36
                            </p>
                        </div>
                        <div class="muzhik-email">
                            <span>E-mail</span>
                            <p>
                                info@muzhik.ru
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="contact-us">
                        <div class="phone">
                            +7 (495) 345-32-98
                        </div>
                        <div class="callback">
                            <a href="#">Записаться</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social">
                <div class="small-logo"></div>
                <div class="social-group">
                    <a href="#" class="fb"><img src="img/png/fb.png" alt=""></a>
                    <a href="#" class="inst"><img src="img/png/inst.png" alt=""></a>
                    <a href="#" class="vk"><img src="img/png/vk.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>



//= template/footer.html


